//
// Blocks
// -------------------------------------------------- //


@import "blocks/broadcast-results";

// Recomended Broadcasts

.recomended-broadcasts {
  > .block-header {
    background-color: #ededed
    padding 24px 29px 22px

    .block-title {
      font-size 1.8rem
      margin 0
      text-transform uppercase
      color #383838
    }
  }
  > .block-body {
    height 600px
    overflow hidden
    user-select none
    position relative

    @media (max-width: 1400px) {
      height 450px
    }
  }
  &.is-single-items {
    > .block-body {
      height 300px
    }
    .broadcasts-list {
      > .item {
        width 300px
        height 300px
        flex-basis 300px

        .item-header {
          left 0
        }
      }
      .item-status-icon {
        top 92px

        .icon,
        [data-icon|="icon"] {
          width 70px
          height 70px
        }
      }
    }
  }
  .broadcasts-list {
    display flex
    flex-direction row
    flex-wrap nowrap
    position absolute
    top 0
    left 0
    cursor move

    .item {
      &:hover {
        .item-header a {
          text-decoration underline

          &:hover {
            text-decoration none
          }
        }
      }
      &.status-viewed {
        .item-image-holder {
          filter grayscale(100%)
        }
        .item-header {
          background-color transparent

          time {
            color #fff
          }
        }

        &.is-noimage {
          background-color #c8c8c8
        }
      }
      &.status-recordable {
        background-color #122643

        .item-status-icon {
          cursor pointer
          display none
          animation statusIconAnimation .3s cubic-bezier(.39,1.31,.28,1)
        }
        &:hover {
          .item-status-icon {
            display block

            &:hover {
              color brand-secondary
            }
          }
          .item-image-holder {
            opacity .35
          }
          .item-header {
            background-color transparent
          }
          &.is-noimage {
            .item-header {
              transform translateY(0) !important
            }
          }
        }
        &.is-noimage {
          background-color #10458f

          .item-header {
            transform translateY(-119px)
            justify-content center
            background-color transparent
          }
        }
      }
      &.status-recorded {
        background-color #e03e29

        .item-image-holder {
            opacity .3
        }
        .item-header {
          background-color transparent

          time {
            color #fff
          }
        }
        .item-status-icon {
          cursor pointer

          &:hover {
            color brand-secondary
          }
        }
        &.is-noimage {
          background-color #e44424
        }
      }
      &.status-recording {
        background-color #246cd8

        .item-image-holder {
          opacity .5
        }
        .item-header {
          background-color transparent

          time {
            color #fff
          }
        }
        &.is-noimage {
          background-color #094b99

          time {
            color rgba(255,255,255,.4)
          }
        }
      }
      &.recording-in-progress {
        .item-status-icon {
          display none
        }
        .item-image-holder {
          opacity .35
        }
        .item-header a {
          text-decoration none
        }
        .recording-notify {
          animation .3s broadcastNotifyAnimation cubic-bezier(.63,.15,.45,.9)
          animation-fill-mode forwards
        }
        .recording-notify-text-wrap {
          animation .3s broadcastNotifyTextWrapAnimation cubic-bezier(.63,.15,.45,.9)
        }
      }
      &.extend-drive-required {
        .item-status-icon {
          display none !important
        }
        .item-image-holder {
          opacity .35
        }
        .item-header a {
          text-decoration none
        }
        .extend-drive-notify {
          animation .3s broadcastNotifyAnimation cubic-bezier(.63,.15,.45,.9)
          animation-fill-mode forwards
        }
        .extend-drive-notify-text-wrap {
          animation .3s broadcastNotifyTextWrapAnimation cubic-bezier(.63,.15,.45,.9)

          .icon {
            width 74px
            height 74px
            margin-bottom 20px

            @media (max-width: 1400px) {
              width 46px
              height 46px
              margin-bottom 6px
            }
          }
        }
      }
    }
    > .item {
      position relative
      width 600px
      height 600px
      overflow hidden
      flex-basis 600px
      flex-shrink 0
      flex-grow 0

      @media (max-width: 1400px) {
        height 450px
        width 450px
        flex-basis 450px
      }

      .item-header {
        left 300px

        @media (max-width: 1400px) {
          left 225px
        }
      }
      .recording-notify {
        [data-icon],
        .icon {
          width 68px
          height 68px
        }
      }
    }
    .item-header {
      position absolute
      bottom 0
      right 0
      left 0
      min-height 92px
      padding 14px 20px 14px 25px
      display flex
      flex-direction column
      flex-wrap nowrap
      justify-content center
      background-color rgba(33,110,216,.84)
      z-index 2
      transition background-color .3s ease-in-out

      time {
        font-size 1.2rem
        color: rgba(255,255,255,.4)
        margin-bottom 5px
      }
      a {
        color #fff
        text-decoration none

        &:hover {
          color brand-secondary
        }
      }
      .channel-icon {
        position absolute
        top 14px
        right 20px
        bottom 14px
        display flex
        justify-content center
        align-items center
        color #fff
      }
    }
    .item-status-icon {
      position absolute
      top 255px
      left 50%
      width 70px
      margin-left -35px
      color #fff
      text-align center
      display block
      z-index 2
      transition opacity .3s ease-in-out, color .3s ease-in-out

      @media (max-width: 1400px) {
        top 183px
      }
      .status-desc {
        font-size 12px
        text-indent -3px
        display block
        color #fff
      }
    }
    .item-image-holder {
      position absolute
      top 0
      right 0
      left 0
      bottom 0
      background-position center
      transition background-color .3s ease-in-out, opacity .3s ease-in-out

      img {
        display block
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        right 0
        bottom 0
      }
    }
    .recording-notify {
      background-color rgba(33,110,216,0.76)
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 4
      color #fff
      display flex
      flex-direction row
      justify-content center
      align-items center
      opacity 0
      animation .3s broadcastNotifyHideAnimation cubic-bezier(.63,.15,.45,.9)
      animation-fill-mode forwards

      .recording-notify-text-wrap {
        text-align center
        font-weight bold
        animation .3s broadcastNotifyTextWrapHideAnimation cubic-bezier(.63,.15,.45,.9)
        animation-fill-mode forwards

        p {
          margin-bottom 0
        }
      }
    }
    .extend-drive-notify {
      background-color rgba(11,50,105,.95)
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 5
      color #fff
      display flex
      flex-direction row
      justify-content center
      align-items center
      opacity 0
      animation .3s broadcastNotifyHideAnimation cubic-bezier(.63,.15,.45,.9)
      animation-fill-mode forwards

      .extend-drive-notify-text-wrap {
        text-align center
        animation .3s broadcastNotifyTextWrapHideAnimation cubic-bezier(.63,.15,.45,.9)
        animation-fill-mode forwards

        .icon {
          color brand-secondary
        }
        a {
          color #fff

          &:hover {
            color brand-secondary
          }
        }
        p:last-child {
          margin-bottom 0
        }
      }
    }
    .quadro-container {
      width 600px
      height 600px
      display block
      position relative
      flex-basis 600px
      flex-shrink 0
      flex-grow 0

      @media (max-width: 1400px) {
        width 450px
        height 450px
        flex-basis 450px
      }

      > .quadro-container-items-wrap {
        position absolute
        top 0
        right 0
        left 0
        bottom 0
        display flex
        flex-direction row
        flex-wrap wrap

        > .item {
          position relative
          display block
          width 50%
          height 50%
          overflow hidden
          flex-shrink 0
          flex-grow 0

          .item-status-icon {
            top 96px

            @media (max-width: 1400px) {
              top 70px
            }
          }
        }
      }
    }
  }
}

// Channel card

.channel-card {
  clearfix()

  .channel-info {
    position relative
    padding 0 86px
    width 300px
    height 551px
    max-height 551px
    overflow hidden
    float left
    background-color brand-primary
    color #fff
    display flex
    flex-direction column
    flex-wrap nowrap
    justify-content center
    align-items center

    .channel-logo {
      margin-bottom 24px

      .icon {
        fill #fff
        width 100%
      }
    }
    .channel-broadcast-shots {
      position relative

      &:before {
        content ''
        position absolute
        top -18px
        left 0
        right 0
        height 1px
        background-color #fff
      }
      img {
        width 100%
        height auto
        border 1px solid #fff
      }
    }
  }
  .channel-broadcasts {
    float left
    width calc(100% - 300px)
    height 551px
    overflow hidden
    position relative

    .broadcasts-list {
      position absolute
      top 0
      left 0
      display flex
      flex-direction row
      flex-wrap nowrap
      cursor move

      .item {
        position relative
        width 600px
        height 551px
        flex-basis 600px
        flex-shrink 0
        flex-grow 0

        &:hover {
          .item-header a {
            text-decoration underline

            &:hover {
              text-decoration none
            }
          }
        }
        &.status-viewed {
          .item-image-holder {
            filter grayscale(100%)
          }
          .item-header {
            time {
              color #fff
            }
          }

          &.is-noimage {
            background-color #c8c8c8
          }
        }
        &.status-recordable {
          background-color #122643

          .item-status-icon {
            cursor pointer
            display none
            animation statusIconAnimation .3s cubic-bezier(.39,1.31,.28,1)
          }
          &.hover {
            .item-status-icon {
              display block

              &:hover {
                color brand-secondary
              }
            }
            .item-image-holder {
              opacity .35
            }
            .item-header {
              background-color transparent
            }
            &.is-noimage {
              .item-header {
                transform translateY(0) !important
              }
            }
          }
          &.is-noimage {
            background-color #10458f

            .item-header {
              transform translateY(-119px)
              justify-content center
              background-color transparent
            }
          }
        }
        &.status-recorded {
          background-color #e03e29

          .item-image-holder {
              opacity .3
          }
          .item-header {
            background-color transparent

            time {
              color #fff
            }
          }
          .item-status-icon {
            cursor pointer

            &:hover {
              color brand-secondary
            }
          }
          &.is-noimage {
            background-color #e44424
          }
        }
        &.status-recording {
          background-color #246cd8

          .item-image-holder {
            opacity .5
          }
          .item-header {
            background-color transparent

            time {
              color #fff
            }
          }
          &.is-noimage {
            background-color #094b99

            time {
              color rgba(255,255,255,.4)
            }
          }
        }
        &.show-descr {
          .item-header {
            a {
                font-weight 700
              }
          }
          .item-descr {
            max-height 437px
            opacity 1
          }
          .descr-trigger {
            > span {
              color #fff
              font-size 26px
              background-color transparent
              text-indent 0
              border-radius 0
              margin 0
              width auto
              height auto
              vertical-align top
            }
            &:before,
            &:after {
              display none
            }
            &:hover {
              > span {
                background-color transparent
                color brand-secondary
              }
            }
          }
        }
        &.recording-in-progress {
          .item-status-icon {
            display none
          }
          .item-image-holder {
            opacity .35
          }
          .item-header a {
            text-decoration none
          }
          .recording-notify {
            animation .3s broadcastNotifyAnimation cubic-bezier(.63,.15,.45,.9)
            animation-fill-mode forwards
          }
          .recording-notify-text-wrap {
            animation .3s broadcastNotifyTextWrapAnimation cubic-bezier(.63,.15,.45,.9)
          }
        }
        &.extend-drive-required {
          .item-status-icon {
            display none !important
          }
          .item-image-holder {
            opacity .35
          }
          .item-header a {
            text-decoration none
          }
          .extend-drive-notify {
            animation .3s broadcastNotifyAnimation cubic-bezier(.63,.15,.45,.9)
            animation-fill-mode forwards
          }
          .extend-drive-notify-text-wrap {
            animation .3s broadcastNotifyTextWrapAnimation cubic-bezier(.63,.15,.45,.9)
          }
        }

        .item-header {
          position absolute
          bottom 0
          right 0
          left 300px
          min-height 92px
          padding 14px 20px 14px 25px
          display flex
          flex-direction column
          flex-wrap nowrap
          justify-content center
          background-color rgba(33,110,216,.84)
          z-index 2
          transition background-color .3s ease-in-out

          time {
            font-size 1.2rem
            color: rgba(255,255,255,.4)
            margin-bottom 5px
          }
          a {
            color #fff
            text-decoration none

            &:hover {
              color brand-secondary
              text-decoration none
            }
          }
          .timeline {
            position absolute
            top -27px
            left 0
            right 0
            background-color rgba(17,44,83,.5)
            color #fff
            height 27px


            span:not(.progress-bg) {
              position relative
              height 27px
              display: block
              line-height 25px
              padding-left 20px
              font-size 12px
              -webkit-font-smoothing subpixel-antialiased
              z-index 2
            }
            .progress-bg {
              position absolute
              left 0
              top 0
              display block
              height 27px
              background-color rgba(103,65,214,.54)
            }
          }
          .icon {
            fill #fff
          }
        }
        .item-image-holder {
          position absolute
          top 0
          right 0
          bottom 0
          left 0
          background-position center
          background-size cover
          transition background-color .3s ease-in-out, opacity .3s ease-in-out

          img {
            display block
            width 100%
            height 100%
            position absolute
            top 0
            left 0
            right 0
            bottom 0
          }
        }
        .recording-notify {
          background-color rgba(33,110,216,0.76)
          position absolute
          top 0
          left 0
          right 0
          bottom 0
          z-index 4
          color #fff
          display flex
          flex-direction row
          justify-content center
          align-items center
          opacity 0
          animation .3s broadcastNotifyHideAnimation cubic-bezier(.63,.15,.45,.9)
          animation-fill-mode forwards

          .recording-notify-text-wrap {
            text-align center
            font-weight bold
            animation .3s broadcastNotifyTextWrapHideAnimation cubic-bezier(.63,.15,.45,.9)
            animation-fill-mode forwards

            p {
              margin-bottom 0
            }
          }
        }
        .extend-drive-notify {
          background-color rgba(11,50,105,.95)
          position absolute
          top 0
          left 0
          right 0
          bottom 0
          z-index 5
          color #fff
          display flex
          flex-direction row
          justify-content center
          align-items center
          opacity 0
          animation .3s broadcastNotifyHideAnimation cubic-bezier(.63,.15,.45,.9)
          animation-fill-mode forwards

          .extend-drive-notify-text-wrap {
            text-align center
            animation .3s broadcastNotifyTextWrapHideAnimation cubic-bezier(.63,.15,.45,.9)
            animation-fill-mode forwards

            .icon {
              color brand-secondary
            }
            a {
              color #fff

              &:hover {
                color brand-secondary
              }
            }
            p:last-child {
              margin-bottom 0
            }
          }
        }
        .badge {
          display inline-block
          position absolute
          top 14px
          right 15px
          color #fff
          font-size 0.9rem
          text-transform uppercase
          height 14px
          line-height 1.2
          padding 2px 4px
          background-color brand-primary
          z-index 2
          -webkit-font-smoothing subpixel-antialiased
        }
        .item-status-icon {
          position absolute
          top 255px
          left 50%
          width 70px
          margin-left -35px
          color #fff
          text-align center
          display block
          z-index 2
          transition opacity .3s ease-in-out, color .3s ease-in-out

          .status-desc {
            color #fff
          }
        }
        .descr-trigger {
          display block
          position absolute
          top 12px
          right 12px
          cursor pointer
          line-height 15px
          height 25px
          width 25px
          text-align center

          > span {
            display inline-block
            text-indent -999px
            overflow hidden
            background-color #fff
            width 4px
            height 4px
            border-radius 50%
            margin 0 4px
            vertical-align middle
          }

          &:before,
          &:after {
            content ''
            display inline-block
            background-color #fff
            width 4px
            height 4px
            border-radius 50%
            vertical-align middle
          }
          &:hover {
            > span,
            &:before,
            &:after {
              background-color brand-secondary
            }
          }
        }
        .item-descr {
          color rgba(255,255,255,.8)
          max-height 0
          opacity 0
          font-weight 300
          -webkit-font-smoothing subpixel-antialiased
          transition max-height .3s cubic-bezier(0.6,0,0.4,1), opacity .3s cubic-bezier(0.6,0,0.4,1)

          p:first-child {
            padding-top 15px
          }
          p:last-child {
            margin-bottom 0
          }
        }

        &.half-item {
          width 300px
          flex-basis 300px

          .item-header {
            left 0
          }
        }
      }
    }
  }
}


// Broadcast card

.broadcast-card {
  background-color #236cd8
  min-height 520px
  padding 0 120px 34px 30px

  .block-header {
    padding-top 15px
    height 59px
  }

  .back-link {
    color #fff
    display inline-block
    text-decoration none

    span:not(.icon):not([data-icon|="icon"]) {
      display inline-block
      vertical-align middle
      line-height 1.6rem
      border-bottom 1px solid
    }
    .icon,
    [data-icon|="icon"] {
      fill #fff
      vertical-align middle
      margin-right 10px
    }

    &:hover {
      span:not(.icon) {
        border-bottom-color transparent
      }
    }
  }

  .block-body {
    position relative
    clearfix()

    .image-col {
      position relative
      float left
      width 480px
      height 428px
      margin-right 30px
      overflow hidden

      img {
        transition opacity .3s ease-in-out
      }
      .item-status-icon {
        position absolute
        top 145px
        left 50%
        width 70px
        margin-left -35px
        color #fff
        text-align center
        display block
        z-index 2
        transition opacity .3s ease-in-out, color .3s ease-in-out

        &:hover {
          color brand-secondary
        }
        .icon,
        [data-icon] {
          width 70px
          height 70px
        }
        .status-desc {
          font-size 12px
          text-indent -3px
          display block
          color #fff
        }
      }
      .action-panel {
        position absolute
        bottom 0
        left 0
        right 0
        height 50px
        background-color rgba(33,110,216,.84)
        list-style none
        margin 0
        padding 0
        display flex
        flex-direction row
        flex-wrap nowrap
        justify-content center
        align-items center
        transition background-color .3s ease, opacity .3s ease

        li {
          text-align center
          display inline-block
          height 20px
          width 50%
          border-right 1px solid rgba(255,255,255,.5)

          &:last-child {
            border-right none
          }
        }
        a {
          color #fff
          font-size 1.2rem
          text-decoration none

          .icon,
          [data-icon|="icon"] {
            margin-right 9px
            transition fill .15s ease-in-out
          }

          &:hover {
            color mix(#fff, #000, 90%)
          }
        }
      }
      .recording-notify {
        background-color rgba(33,110,216,0.76)
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        z-index 4
        color #fff
        display flex
        flex-direction row
        justify-content center
        align-items center
        opacity 0
        animation .3s broadcastNotifyHideAnimation cubic-bezier(.63,.15,.45,.9)
        animation-fill-mode forwards

        .recording-notify-text-wrap {
          text-align center
          font-weight bold
          animation .3s broadcastNotifyTextWrapHideAnimation cubic-bezier(.63,.15,.45,.9)
          animation-fill-mode forwards

          p {
            margin-bottom 0
          }
        }
      }
      .extend-drive-notify {
        background-color rgba(11,50,105,.95)
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        z-index 5
        color #fff
        display flex
        flex-direction row
        justify-content center
        align-items center
        opacity 0
        animation .3s broadcastNotifyHideAnimation cubic-bezier(.63,.15,.45,.9)
        animation-fill-mode forwards

        .extend-drive-notify-text-wrap {
          text-align center
          animation .3s broadcastNotifyTextWrapHideAnimation cubic-bezier(.63,.15,.45,.9)
          animation-fill-mode forwards

          .icon {
            color brand-secondary
          }
          a {
            color #fff

            &:hover {
              color brand-secondary
            }
          }
          p:last-child {
            margin-bottom 0
          }
        }
      }

      &.status-viewed {
        img {
          filter grayscale(100%)
        }
        .action-panel {
          background-color transparent
        }
      }
      &.status-recordable {
        background-color #122643

        .item-status-icon {
          cursor pointer
          display none
          animation statusIconAnimation .3s cubic-bezier(.39,1.31,.28,1)
        }
        &:hover {
          .item-status-icon {
            display block

            &:hover {
              color brand-secondary
            }
          }
          img {
            opacity .35
          }
          .action-panel {
            background-color transparent
          }
        }
      }
      &.status-recorded {
        background-color #e03e29

        img {
            opacity .3
        }
        .action-panel {
          background-color transparent
        }
        .item-status-icon {
          cursor pointer

          &:hover {
            color brand-secondary
          }
        }
      }
      &.status-recording {
        background-color #246cd8

        img {
          opacity .5
        }
        .action-panel {
          background-color transparent
        }
      }
      &.recording-in-progress {
        .item-status-icon {
          display none !important
        }
        img {
          opacity .35
        }
        .action-panel a {
          text-decoration none
        }
        .recording-notify {
          animation .3s broadcastNotifyAnimation cubic-bezier(.63,.15,.45,.9)
          animation-fill-mode forwards
        }
        .recording-notify-text-wrap {
          animation .3s broadcastNotifyTextWrapAnimation cubic-bezier(.63,.15,.45,.9)
        }
      }
      &.extend-drive-required {
        .item-status-icon {
          display none !important
        }
        .item-image-holder {
          opacity .35
        }
        .item-header a {
          text-decoration none
        }
        .extend-drive-notify {
          animation .3s broadcastNotifyAnimation cubic-bezier(.63,.15,.45,.9)
          animation-fill-mode forwards
        }
        .extend-drive-notify-text-wrap {
          animation .3s broadcastNotifyTextWrapAnimation cubic-bezier(.63,.15,.45,.9)
        }
      }
    }
    .right-col {
      position relative
      float left
      width calc(100% - 510px)
      z-index 2

      .info-row {
        min-height 236px
        margin-bottom 34px
        clearfix()

        @media (max-width: 1720px) {
          min-height 358px
        }
      }
      .advert-holder {
        @media (max-width: 1720px) {
          position relative
          margin-left -510px
          text-align center
        }
      }
    }
    .broadcast-status {
      display inline-block
      background-color #fff
      font-size 1.2rem
      line-height 1.6rem
      height 16px
      padding 0 4px
      margin-bottom 8px
      color brand-primary
      vertical-align top
    }
    .broadcast-title {
      font-size 2.4rem
      font-weight 500
      margin 0 0 20px
      color #fff
      text-transform uppercase

      small {
        font-size 1.8rem
        text-transform none
        color #fff
        font-weight 400
      }
    }
    .broadcast-descr-col {
      color #fff
      margin-bottom 20px

      @media (min-width: 1720px) {
        float left
        width 47.4%
        padding-right 5%
        margin-bottom 0
      }
    }
    .broadcast-info-col-1 {
      float left
      width 28%

      @media (min-width: 1720px) {
        width 14.3%
      }
    }
    .broadcast-info-col-2 {
      float left
      width 28%

      @media (min-width: 1720px) {
        width 12%
      }
    }
    .info-list {
      margin 0 0 14px
      padding 0
      line-height 2.1rem
      color #fff
      max-width 235px

      dt {
        font-weight 300
        margin-bottom 1px
      }
      dd {
        margin-bottom 11px

        &:last-child {
          margin-bottom 0
        }
      }
    }
    .broadcast-stuff-col {
      float left
      width 44%

      @media (min-width: 1720px) {
        width 26.3%
      }

      .stuff-list {
        max-width 325px
        margin 0 0 14px
        padding 0
        line-height 2.1rem
        color #fff

        dt {
          font-weight 300
          margin 1px
        }
        dd {
          margin-bottom 11px

          &:last-child {
            margin-bottom 0
          }
        }
      }
    }
    .channel-back-logo {
      position absolute
      right -65px
      top -10px
      width 578px
      height 370px
      opacity .1

      .icon {
        width 578px
        height 370px
        fill #fff
      }
    }
  }
}


// Related broadcasts

.related-brodcasts {
  > .block-header {
    background-color: #ededed
    padding 24px 29px 22px

    .block-title {
      font-size 1.8rem
      margin 0
      text-transform uppercase
      color #383838
    }
  }
  > .block-body {
    height 300px
    overflow hidden
    user-select none
    position relative
  }
  .broadcasts-list {
    margin 0
    padding 0
    list-style none
    display flex
    flex-direction row
    flex-wrap nowrap
    position absolute
    top 0
    left 0
    cursor move

    .item {
      &:hover {
        .item-header a {
          text-decoration underline

          &:hover {
            text-decoration none
          }
        }
      }
      &.status-viewed {
        .item-image-holder {
          filter grayscale(100%)
        }
        .item-header {
          background-color transparent

          time {
            color #fff
          }
        }

        &.is-noimage {
          background-color #c8c8c8
        }
      }
      &.status-recordable {
        background-color #122643

        .item-status-icon {
          cursor pointer
          display none
          animation statusIconAnimation .3s cubic-bezier(.39,1.31,.28,1)

          &:hover {
            color brand-secondary
          }
        }
        &:hover {
          .item-status-icon {
            display block
          }
          .item-image-holder {
            opacity .35
          }
          .item-header {
            background-color transparent
          }
          &.is-noimage {
            .item-header {
              transform translateY(0) !important
            }
          }
        }
        &.is-noimage {
          background-color #10458f

          .item-header {
            transform translateY(-119px)
            justify-content center
            background-color transparent
          }
        }
      }
      &.status-recorded {
        background-color #e03e29

        .item-image-holder {
            opacity .3
        }
        .item-header {
          background-color transparent

          time {
            color #fff
          }
        }
        .item-status-icon {
          cursor pointer

          &:hover {
            color brand-secondary
          }
        }
        &.is-noimage {
          background-color #e44424
        }
      }
      &.status-recording {
        background-color #246cd8

        .item-image-holder {
          opacity .5
        }
        .item-header {
          background-color transparent

          time {
            color #fff
          }
        }
        &.is-noimage {
          background-color #094b99

          time {
            color rgba(255,255,255,.4)
          }
        }
      }
    }
    > .item {
      position: relative
      width 300px
      height 300px
      overflow hidden
      flex-basis 300px
      flex-shrink 0
      flex-grow 0
    }
    .item-header {
      position absolute
      bottom 0
      right 0
      left 0
      min-height 92px
      padding 14px 20px 14px 25px
      display flex
      flex-direction column
      flex-wrap nowrap
      justify-content center
      background-color rgba(33,110,216,.84)
      z-index 2
      transition background-color .3s ease-in-out

      time {
        font-size 1.2rem
        color: rgba(255,255,255,.4)
        margin-bottom 5px
      }
      a {
        color #fff
        text-decoration none

        &:hover {
          color brand-secondary
        }
      }
      .channel-icon {
        position absolute
        top 14px
        right 20px
        bottom 14px
        display flex
        justify-content center
        align-items center
        color #fff
      }
    }
    .item-status-icon {
      position absolute
      top 96px
      left 50%
      width 70px
      margin-left -35px
      color #fff
      text-align center
      display block
      z-index 2
      transition opacity .3s ease-in-out, color .3s ease-in-out

      @media (max-width: 1400px) {
        top 183px
      }
      .status-desc {
        font-size 12px
        text-indent -3px
        display block
        color #fff
      }
    }
    .item-image-holder {
      position absolute
      top 0
      right 0
      left 0
      bottom 0
      background-position center
      background-size cover
      transition background-color .3s ease-in-out, opacity .3s ease-in-out

      img {
        display block
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        right 0
        bottom 0
      }
    }
  }
}


// Player

.broadcast-player {
  > .block-header {
    padding 16px 0 19px

    .block-title {
      font-size 2.4rem
      line-height 1
      margin 0
      color #fff
      text-transform uppercase
      font-weight 500

      small {
        font-weight 400
        color #fff
        font-size 1.8rem
      }
    }
  }
  .close-link {
    position absolute
    right -24px
    top 0
    line-height 1.3rem
    display inline-block
  }
  > .block-body {
    position relative
  }
  .player-holder {
    margin-bottom 24px
  }
  .player-panel {
    margin-top 10px
    height 41px
    line-height 4.1rem
    color #fff
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content space-between
    align-items center

    .btn {
      button-size(6px, 18px, 1.4rem, 1.9)

      .icon {
        vertical-align -4px
        margin-right 10px
        fill currentColor
      }

      &:hover,
      &:focus,
      &:active {
        color brand-secondary
      }
    }
  }
  dl {
    display inline-block
    vertical-align middle
    margin-bottom 0

    dt {
      font-weight 300
      display inline
    }
    dd {
      display inline
      font-weight 500
    }
  }
  .social-share {
    display inline-block

    span {
      font-weight 300
    }
    ul {
      display inline-block
      list-style none
      margin 0
      padding 0

      li {
        display inline
        line-height 1
        vertical-align middle
        padding 0 9px
      }
      a {
        color #fff

        &:hover {
          color brand-secondary
        }
      }
    }
    .icon {
      vertical-align middle
      width 12px
      height 12px
    }
  }
}

.broadcast-user-comments {
  .block-header {
    padding 0 0 12px

    .block-title {
      font-size 1.8rem
      line-height 1
      margin 0
      font-weight 700
      color #fff
      text-transform uppercase
    }
  }
  .comments-list {
    list-style none
    padding 0
    margin 0
    border-top 1px solid #fff

    li {
      clearfix()
      border-bottom 1px solid #fff
      padding 28px 0 27px
    }
    .user-avatar {
      float left
      width 62px
      height 62px
      border 1px solid #fff
      border-radius 50%
      margin-right 23px
      display flex
      justify-content center
      align-items center

      img {
        border-radius 50%
        display block
        flex-shrink 0
      }
    }
    .comment-holder {
      color #fff
      margin-left 85px
      overflow hidden
      padding-top 8px

      .comment-title {
        font-size 1.3rem
        font-weight 600
        margin-bottom 6px
      }
      .comment-text {
        p:last-child {
          margin-bottom 0
        }
      }
    }
  }
}

.broadcast-user-comments-form {
  margin-bottom 35px

  .block-header {
    padding 0 0 12px

    .block-title {
      font-size 1.8rem
      line-height 1
      margin 0
      font-weight 700
      color #fff
      text-transform uppercase
    }
  }
  .block-body {
    position relative

    .form-group {
      position relative
      margin-bottom 0
    }
    .form-control {
      background-color transparent
      resize none
      border 2px solid #fff
      min-height 85px
      color #fff
      padding-right 90px

      &:focus {
        box-shadow inset 0 0 0 1px #fff
      }
    }
    .submit-btn {
      border-radius 50%
      border none
      padding 12px 0
      display block
      width 40px
      line-height 1.14
      background-color #fff
      position absolute
      top 50%
      margin-top -20px
      right 25px
      color brand-primary
      overflow hidden

      &:hover,
      &:focus {
        outline 0
        background-color brand-secondary
      }
      .icon {
        will-change transform
      }

      &.is-submit-progress {
        .icon {
          animation commentsSubmitAnimation 1.2s linear infinite
        }
      }
    }
  }
}

// Recommendations

// .recommendation-overlay {
//   position fixed
//   top 0
//   right 0
//   left 0
//   bottom 0
//   overflow-y auto
//   overflow-x hidden
//   background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAI1JREFUeNrs0tENREAABcB3srKC039H+rkTIXzow87XNDCfJOs8LNmOX1q01O+Yrk6p/d2k5fzv6a+S82hTAwwwwAADDDDAAAMMMMAAAwwwwAADDDDAAAMMMMAAAwwwwAADDDDAAAMMMMAAAwwwwAADDDDAAAMMMMAAAwwwwAADDDDAAAMMMMCAV/gIMAAsAODJVx85OQAAAABJRU5ErkJggg==")
//   background-repeat repeat
//   background-position 0 0
//   z-index 1100

//   .content-wrap {
//     position absolute
//     top 0
//     right 0
//     left 0
//     bottom 0
//     display flex
//     flex-direction column
//     flex-wrap nowrap
//     align-items center
//     justify-content center
//   }
// }


// Subscription services

.subscription-services {
  flex-basis 1380px
  flex-wrap 0
  flex-shrink 0

  @media (max-width: 1920px) {
    flex-basis 1270px
  }
  @media (max-width: 1790px) {
    flex-basis auto !important
  }

  > .block-header {
    background-color #f6f6f7
    height 64px
    padding 23px 30px

    .block-title {
      font-size 1.8rem
      line-height 1
      margin 0
      color #383838
      text-transform uppercase
      font-weight 700
    }
  }
  > .block-body {
    padding-top 12px
    padding-bottom 32px
    clearfix()
  }
  .storage-statistic {
    float left
    position relative
    margin 17px 11px 0 12px
    display flex
    flex-direction column
    flex-wrap nowrap
    text-align center
    justify-content center
    align-items center
    width 251px
    height 251px

    @media (max-width: 1920px) {
      width 238px
      height 238px
      margin 5px 24px 0 12px
    }

    .total-space {
      position relative
      display block
      font-size 1.3rem
      line-height 3rem
      color #b8b8b8
      margin-bottom 9px
      margin-top -14px

      strong {
        display block
        font-size 3rem
        font-weight 700
        color #00a7fd
        position relative
        margin-top -8px
      }
    }
    .used-space {
      display block
      font-size 1.3rem
      line-height 3rem
      color #b8b8b8

      strong {
        display block
        font-size 3rem
        font-weight 700
        color #00a7fd
        margin-top -8px
      }
    }
    .progressbar-holder {
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      border-radius 50%
      transform rotate(-180deg)

      > svg {
        position relative
        display block
        stroke-linecap round
      }
    }
  }
  .available-subscriptions {
    clearfix()
    list-style none
    margin 0
    padding 0

    .item {
      position relative
      width 275px
      height 275px
      float left
      border 1px solid #e6ebed
      cursor pointer

      @media (max-width: 1920px) {
        width 248px
        height 248px
      }

      + .item {
        border-left none
      }
      &:last-child {
        border-right-color #e6ebed

        &.status-active {
          border-right-color brand-primary
        }
      }
      &:hover {
        .decor {
          opacity 1
        }
      }
      .decor {
        position absolute
        right 12px
        top 11px
        color #e8e8e8
        opacity 0
        transition opacity .3s ease-in-out

        [data-icon],
        .icon {
          width 24px
          height 24px
          vertical-align middle
          margin-left 10px
        }
      }

      &.status-active {
        color #fff
        background-color brand-primary
        border-color brand-primary

        .decor {
          color #fff
          opacity 1

          .decor-title {
            display none
          }
        }
        .subscription-text-logo {
          color #fff
        }
        .subscription-logo {
          color #fff
        }
        .price {
          color #fff

          &:before {
            background-color #fff
          }
        }
      }
    }
    .handler-checkbox {
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      margin 0
      z-index 3
      cursor pointer

      input[type="checkbox"] {
        display block
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        margin 0
        opacity 0
        cursor pointer
      }
    }
    .subscription-text-logo {
      display block
      font-size 7.2rem
      line-height 1
      font-weight 700
      position absolute
      top 88px
      left 0
      right 0
      text-align center
      color brand-primary

      @media (max-width: 1920px) {
        top 76px
        font-size 6rem
      }
    }
    .subscription-logo {
      position absolute
      top 0
      left 0
      right 0
      bottom 40px
      color brand-primary
      display flex
      flex-wrap nowrap
      justify-content center
      align-items center
      align-content center
    }
    .item-header {
      position absolute
      display flex
      flex-wrap nowrap
      flex-direction row
      align-items center
      padding 0 0 15px 23px
      bottom 0
      right 0
      left 0

      @media (max-width: 1920px) {
        padding 0 0 24px 26px
      }

      .price {
        position relative
        display inline-block
        padding-right 12px
        margin-right 8px
        font-size 1.8rem
        line-height 1
        font-weight 600
        color brand-primary

        @media (max-width: 1920px) {
          padding-right 13px
          margin-right 12px
        }

        small {
          display block
          font-size 1rem
        }
        &:before {
          content ''
          position absolute
          top 2px
          right 0
          height 24px
          width 1px
          background-color #adadad
        }
      }
      .item-title {
        display inline-block
        line-height 1.7rem
      }
    }
  }
}


// User services

.user-balance {
  flex-shrink 0
  flex-grow 1

  > .block-header {
    background-color #f6f6f7
    height 64px
    padding 23px 30px

    .block-title {
      font-size 1.8rem
      line-height 1
      margin 0
      color #383838
      text-transform uppercase
      font-weight 700
    }
  }
  > .block-body {
    clearfix()
    padding 23px 30px 0 30px

    @media (max-width: 1789px) {
      padding-bottom 11px
    }
  }
  .account-balance {
    clearfix()
    font-size 6rem
    line-height 1
    font-weight 900

    @media (max-width: 1790px) {
      float left
      width 478px
      margin-right 30px
      padding-top 8px
    }

    small {
      font-size 1.8rem
      display block
      font-weight 400
    }
    .icon,
    [data-icon] {
      fill brand-primary
      float left
      margin-right 24px

      @media (max-width: 1790px) {
        margin-left 78px
      }
    }
    .btn {
      padding-top 18px
      padding-bottom 18px
      margin-top 20px
    }
  }
  .balance-history {
    padding-top 29px

    @media (max-width: 1790px) {
      float left
      width calc(100% - 510px)
      padding-top 12px
    }

    > .block-header {
      padding-bottom 17px
    }
    .block-title {
      color #7f7f7f
      text-transform uppercase
      font-size 1.4rem
      line-height 1
      font-weight 500
      margin 0
    }
    .events-list {
      list-style none
      margin 0
      padding 0

      .event {
        border-top 1px solid #d9d9d9
        padding 23px 0
        clearfix()
      }
      .event-date {
        width 118px
        margin-right 26px
        display inline-block
      }
      .event-title {
        text-align right
        width calc(100% - 300px)
        display inline-block

        @media (max-width: 1790px) {
          width calc(100% - 310px)
        }
      }
      .event-cost {
        width 115px
        font-weight 600
        font-size 1.8rem
        text-align right
        display inline-block
        vertical-align middle
        letter-spacing 0.02em
        float right
      }
      .icon,
      [data-icon] {
        margin-right 7px
      }
      .icon-incoming-arrow,
      [data-icon="icon-incoming-arrow"] {
        fill brand-primary

        ~ .event-cost {
          color brand-primary
        }
      }
      .icon-outcoming-arrow,
      [data-icon="icon-outcoming-arrow"] {
        fill #6642d6

        ~ .event-cost {
          color #6642d6
        }
      }
    }
  }
}


// SUser sbscribtion channels

.user-subscription-channels {
  margin-bottom 80px

  > .block-header {
    background-color #f6f6f7
    height 64px
    padding 23px 30px

    .block-title {
      font-size 1.8rem
      line-height 1
      margin 0
      color #383838
      text-transform uppercase
      font-weight 700
    }
  }
  .channels-list {
    clearfix()
    list-style none
    margin 0
    padding 0
    display flex
    flex-wrap wrap
    flex-direction row

    .item {
      position relative
      padding-top 16.498vw
      border 1px solid #e6ebed
      margin-bottom -1px
      flex-basis 213px
      flex-grow 1
      flex-shrink 0
      cursor pointer

      @media (min-width: 1490px) {
        flex-basis 248px
      }
      @media (min-width: 1735px) and (max-width: 1919px) {
        flex-basis 249px
      }
      @media (min-width: 1919px) {
        padding-top 14.174vw
      }
      @media (min-width: 2024px) {
        padding-top 12.4087vw
        flex-basis 254px
      }
      @media (min-width: 2310px) {
        padding-top 11.02vw
        flex-basis 285px
      }

      + .item {
        border-left none
      }
      &:hover {
        .decor {
          opacity 1
        }
      }
      .decor {
        position absolute
        right 12px
        top 11px
        color #e8e8e8
        opacity 0
        transition opacity .3s ease-in-out

        [data-icon],
        .icon {
          width 24px
          height 24px
          vertical-align middle
          margin-left 10px
        }
      }

      &.status-active {
        color #fff
        background-color brand-primary

        .decor {
          color #fff
          opacity 1

          .decor-title {
            display none
          }
        }
        .subscription-logo {
          color #fff
        }
        .price {
          color #fff

          &:before {
            background-color #fff
          }
        }
      }
    }
    .handler-link {
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 3
    }
    .subscription-logo {
      position absolute
      top 0
      left 0
      right 0
      bottom 15px
      color brand-primary
      display flex
      flex-wrap nowrap
      justify-content center
      align-items center
      align-content center

      .icon,
      [data-icon] {
        max-width 72%
        max-height 38%
      }
    }
    .item-header {
      position absolute
      display flex
      flex-wrap nowrap
      flex-direction row
      align-items center
      padding 0 0 15px 23px
      bottom 0
      right 0
      left 0

      .price {
        position relative
        display inline-block
        padding-right 12px
        margin-right 8px
        font-size 1.8rem
        line-height 1
        font-weight 600
        color brand-primary
        flex-grow 0

        small {
          display block
          font-size 1rem
        }
        &:before {
          content ''
          position absolute
          top 2px
          right 0
          height 24px
          width 1px
          background-color #adadad
        }
      }
      .item-title {
        display inline-block
        line-height 1.7rem
      }
    }
  }
}


// User profile

.user-profile {
  width 750px

  @media (max-width: 1680px) {
    flex-grow 1
  }
  > .block-header {
    background-color #f6f6f7
    height 64px
    padding 23px 30px

    .block-title {
      font-size 1.8rem
      line-height 1
      margin 0
      color #383838
      text-transform uppercase
      font-weight 700
    }
  }
  > .block-body {
    padding 0 30px
    clearfix()
  }
  .avatar-col {
    float left
    width 304px
    margin-right 58px
    padding-top 34px

    @media (max-width: 1680px) {
      margin-right 18%
    }
    @media (max-width: 1400px) {
      margin-right 15% !important
    }

    .user-avatar-holder {
      position relative
      border-radius 50%
      background-color #f7fafc
      width 300px
      height 300px
      margin-bottom 20px
      display inline-flex
      justify-content center
      align-items center
      flex-direction column

      &:hover {
        .load-avatar-text-holder {
          opacity 1
        }
        .progressbar-holder > img {
          opacity .32
        }
      }
      &:before {
        position absolute
        display block
        content ''
        background-color #1e6edc
        box-shadow 0 0 3px rgba(0,0,0,.15)
        width 244px
        height 244px
        border-radius 50%
        top 50%
        left 50%
        margin -122px 0 0 -122px
        z-index 2
      }

      &.is-empty {
        &:before {
          background url(../img/static/large-avatar-holder.svg) no-repeat 128px 38px/192px 254px #1e6edc
        }
        .progressbar-holder {
          &:before {
            border-color #dfdfe0
          }
          > img {
            opacity 0 !important
            animation none
          }
        }
        .load-avatar-text-holder {
          opacity 1
        }
      }
      &.is-loading {
        .progressbar-holder {
          &:before {
            opacity 0
          }
          > svg {
            opacity 1
          }
          > img {
            opacity 0 !important
            animation none
          }
        }
        .load-avatar-text-holder {
          opacity 0
        }
      }
      .load-avatar-text-holder {
        position absolute
        top 50%
        left 50%
        margin -122px 0 0 -122px
        display block
        width 246px
        height 246px
        line-height 246px
        text-decoration none
        z-index 5
        color #fff
        text-align center
        opacity 0
        transition opacity .3s ease-in-out

        > span {
          line-height initial
          border-bottom 1px dotted
        }
      }
      .progressbar-holder {
        position absolute
        top -2px
        left -2px
        right -2px
        bottom -2px
        border-radius 50%
        overflow hidden
        display flex
        flex-direction row
        flex-wrap nowrap
        justify-content center
        align-items center

        > svg {
          position absolute
          display block
          z-index 2
          opacity 0
          top 0
          right 0
          left 0
          bottom 0
        }
        > img {
          position relative
          display block
          flex-basis 246px
          height 246px
          width 246px
          z-index 4
          border-radius 50%
          animation showAvatarLoaderImage .3s cubic-bezier(.63,.15,.45,.9)
          animation-fill-mode forwards
        }
        &:before {
          content ''
          position absolute
          border 2px solid brand-secondary
          top 0
          left 0
          right 0
          bottom 0
          border-radius 50%
        }
      }
      input[type="file"] {
        position absolute
        width 246px
        height 246px
        top 50%
        left 50%
        margin -123px 0 0 -123px
        opacity 0
        font-size 200px
        direction ltr
        cursor pointer
        z-index 6
      }
    }
    .user-name {
      display block
      font-size 2.4rem
      line-height 1
      text-align center
      margin-bottom 12px
    }
    .user-city {
      display block
      text-align center
      color #1e6edc
    }
  }
  .user-profile-form {
    float left
    padding-top 39px
    padding-bottom 45px
    width 328px
  }
}


// User passport

.user-passport {
  width 390px

  @media (max-width: 1680px) {
    flex-grow 1
  }
  > .block-header {
    background-color #f6f6f7
    height 64px
    padding 23px 30px

    .block-title {
      font-size 1.8rem
      line-height 1
      margin 0
      color #383838
      text-transform uppercase
      font-weight 700
    }
  }
  > .block-body {
    padding 0 30px

    @media (max-width: 1680px) {
      max-width 390px
    }
  }
  .user-passport-form {
    padding-top 39px
    padding-bottom 45px

    .flex-row {
      .form-group {
        flex-shrink 1
        flex-grow 1
      }
    }
    textarea.form-control {
      min-height 108px
      resize none
    }
    .passport-number-row {
      .form-group:first-child {
        width 16.42%
        margin-right 6px
        flex-shrink 0
      }
    }
    .passport-additional-data-row {
      .form-group:first-child {
        flex-shrink 0
        width 47%
        margin-right 6px
      }
    }
  }
}


// User info subscriptions

.user-info-subscriptions {
  flex-grow 1
  padding-bottom 17px

  @media (max-width: 1680px) {
    width 100%
  }

  > .block-header {
    background-color #f6f6f7
    height 64px
    padding 23px 30px

    .block-title {
      font-size 1.8rem
      line-height 1
      margin 0
      color #383838
      text-transform uppercase
      font-weight 700
    }
  }
  > .block-body {
    padding 38px 30px 0
    opacity .2
  }
  .user-info-subscriptions-list {
    list-style none
    margin 0
    padding 0

    li {
      position relative
      display block
      border-top 1px solid #d9d9d9

      &.status-active {
        [data-icon],
        .icon {
          color brand-primary
        }
      }
    }
    a {
      display block
      padding 23px 0 21px
      color #666
      line-height 24px
      text-decoration none
    }
    [data-icon],
    .icon {
      position absolute
      right 0
      top 22px
      color #e6e6e6
    }
  }
}


// User attached socials
.user-attached-socials {
  flex-grow 1

  > .block-header {
    background-color #f6f6f7
    height 64px
    padding 23px 30px

    .block-title {
      font-size 1.8rem
      line-height 1
      margin 0
      color #383838
      text-transform uppercase
      font-weight 700
    }
  }
  > .block-body {
    padding 35px 30px 0
    min-height 266px
  }
  .attached-socials-list {
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content space-between
    align-items center
    list-style none
    margin 0
    padding 13px 0 0
    width 90%

    li {
      position relative
      display block
      vertical-align middle
      text-align center

      &.active {
        a {
          color brand-primary !important
        }
        .decor {
          display none
        }
      }
      a {
        position relative
        color #979696
        display inline-block
        height 74px
        padding 12px 0

        &:hover {
          color #a3bcdf
        }
      }
      .decor {
        position absolute
        bottom -50px
        left 50%
        margin-left -16px
        border-radius 50%
        background-color #ffba00
        width 31px
        height 31px
        padding 10px 0
        color #000
        font-size 11px
        line-height 1
        font-weight bold
        text-align center

        &:before {
          content '+'
          position absolute
          left 50%
          margin-left -6px
          top -26px
          color #000
          font-size 1.8rem
          line-height 1
          font-weight bold
          opacity .6
        }
      }
    }
  }

  .popover {
    max-width 205px
    min-width 205px
    text-align center

    &.bottom {
      margin-top 0
    }
  }
}


// Reset password

.reset-password {
  flex-basis 780px

  > .block-header {
    background-color #f6f6f7
    height 64px
    padding 23px 30px

    .block-title {
      font-size 1.8rem
      line-height 1
      margin 0
      color #383838
      text-transform uppercase
      font-weight 700
    }
  }
  > .block-body {
    padding 43px 30px 0
    clearfix()
  }
  .col {
    float left
    width 50%
    padding-right 15px

    & + .col {
      padding-right 0
      padding-left 15px
    }
  }
  .form-group {
    margin-bottom 21px

    &:last-child {
      margin-bottom 0
    }
  }
}


// User friends latest comments

.user-friends-latest-comments {
  > .block-header {
    background-color #f6f6f7
    height 64px
    padding 23px 30px

    .block-title {
      font-size 1.8rem
      line-height 1
      margin 0
      color #383838
      text-transform uppercase
      font-weight 700
    }
  }
  > .block-body {
    padding 30px 30px 75px
  }
  .users-comments-list {
    list-style none
    margin 0
    padding 0

    li {
      display inline-block
      text-align center
      vertical-align top
      margin-right 15px
    }
    .user-avatar {
      width 86px
      height 86px
      border 1px solid brand-primary
      border-radius 50%
      display flex
      justify-content center
      align-items center
      margin-bottom 8px

      img {
        display block
        border-radius 50%
      }
    }
  }
}


// User recorded broadcasts

.user-recorded-broadcasts {
  &.is-single-line {
    > .block-body {
      height 300px
    }
  }
  > .block-header {
    background-color #f6f6f7
    height 64px
    padding 23px 30px

    .block-title {
      font-size 1.8rem
      line-height 1
      margin 0
      color #383838
      text-transform uppercase
      font-weight 700

      small {
        font-weight normal
        font-size inherit
      }
    }
  }
  > .block-body {
    position relative
    user-select none
    height 600px
  }
  .broadcasts-list {
    overflow hidden
    position absolute
    top 0
    left 0
    right 0
    bottom 0
  }
  .row-wrap {
    position absolute
    top 0
    left 0
  }
  .items-row {
    height 300px
    position relative
    display flex
    flex-wrap nowrap
    flex-direction row

    > .item {
      flex-grow 0
      flex-shrink 0
      flex-basis 300px
    }
  }
  .item {
    position relative
    overflow hidden
    width 300px
    height 300px

    &.hover {
      .actions-panel {
        display block
        animation .3s actionsPanelAnimation cubic-bezier(.63,.15,.45,.9)
      }
      .actions-list {
        animation .3s actionsListAnimation cubic-bezier(.63,.15,.45,.9)
      }
      .item-header {
        > a {
          text-decoration underline
        }
      }
      .view-progress {
        &:before,
        &:after {
          background-color brand-secondary
        }
        &:after {
          box-shadow -5px 5px 5px rgba(0,0,0,.15)
        }
      }
    }
    &.is-delete-state {
      .actions-list {
        animation .3s actionsListFadeOutAnimation cubic-bezier(.63,.15,.45,.9)
        animation-fill-mode forwards
      }
      .delete-dialog {
        display block
        animation .3s deleteDialogAnimation cubic-bezier(.63,.15,.45,.9)
      }
    }
  }
  .item-image-holder {
    position absolute
    top 0
    right 0
    left 0
    bottom 0
    background-size cover
    background-position center
    transition opacity .3s ease
    z-index 1

    img {
      display block
      width 100%
      height 100%
      position absolute
      top 0
      left 0
      right 0
      bottom 0
    }
  }
  .item-header {
    background-color rgba(33,110,216,.84)
    position absolute
    bottom 0
    left 0
    right 0
    display flex
    flex-wrap nowrap
    flex-direction row
    align-items center
    justify-content center
    padding 8px 12px
    height 50px
    z-index 2
    transition background-color .15s cubic-bezier(.63,.15,.45,.9), min-height .15s cubic-bezier(.63,.15,.45,.9)
    -webkit-font-smoothing subpixel-antialiased

    a {
      display inline-block
      text-align center
      line-height 17px
      text-decoration none
      color #fff
      position relative
      top -1px

      &:hover {
        color brand-secondary
      }
    }
  }
  .view-progress {
    position absolute
    top -19px
    right 12px
    left 12px
    height 5px
    background-color #fff

    &[data-progress="0"] {
      display none
    }
    &[data-progress="1"] {
      &:before {
        width 25%
      }
      &:after {
        left 25%
      }
    }
    &[data-progress="2"] {
      &:before {
        width 50%
      }
      &:after {
        left 50%
      }
    }
    &[data-progress="3"] {
      &:before {
        width 75%
      }
      &:after {
        left 75%
      }
    }
    &:before {
      content ''
      position absolute
      top 0
      left 0
      background-color brand-primary
      height 5px
      transition width .3s ease-in-out, background-color .3s ease-in-out
    }
    &:after {
      content ''
      position absolute
      top -5px
      left 0
      height 15px
      width 15px
      margin-left -5px
      background-color brand-primary
      border-radius 50%
      transition left .3s ease-in-out, background-color .3s ease-in-out, box-shadow .3s ease-in-out
    }
  }
  .actions-panel {
    background-color rgba(33,110,216,.84)
    position absolute
    top 0
    left 0
    right 0
    bottom 50px
    z-index 2
    color #fff
    display none
    opacity 1
  }
  .actions-list {
    list-style none
    padding 106px 42px 0
    margin 0
    display flex
    flex-wrap nowrap
    flex-direction row
    align-items center
    justify-content space-around
    transition opacity .3s ease-in-out

    li {
      display inline-block
    }
    a {
      display inline-block
      width 41px
      height 41px
      color #fff

      .icon,
      [data-icon] {
        width 41px
        height 41px
      }

      &:hover {
        color brand-secondary
      }
    }
  }
  .delete-dialog {
    position absolute
    top 0
    left 0
    right 0
    bottom 50px
    padding 92px 42px 0
    text-align center
    -webkit-font-smoothing auto
    display none

    p {
      margin-bottom 12px
    }
    ul {
      list-style none
      margin 0
      padding 0
      text-align center
      font-weight 300

      li {
        display inline-block

        &:first-child:after {
          content '|\00a0'
          margin-left 7px
        }
      }
      a {
        color #fff

        &:hover {
          color brand-secondary
        }
      }
    }
  }
}

// User viewed broadcasts

.user-viewed-broadcasts {
  &.is-single-line {
    > .block-body {
      height 300px
    }
  }
  > .block-header {
    background-color #f6f6f7
    height 64px
    padding 23px 30px

    .block-title {
      font-size 1.8rem
      line-height 1
      margin 0
      color #383838
      text-transform uppercase
      font-weight 700

      small {
        font-weight normal
        font-size inherit
      }
    }
  }
  > .block-body {
    position relative
    user-select none
    height 600px
    overflow hidden
  }
  .broadcasts-list {
    overflow hidden
    position absolute
    top 0
    left 0
    right 0
    bottom 0
  }
  .row-wrap {
    position absolute
    top 0
    left 0
  }
  .items-row {
    height 300px
    position relative
    display flex
    flex-wrap nowrap
    flex-direction row

    > .item {
      flex-grow 0
      flex-shrink 0
      flex-basis 300px
    }
  }
  .item {
    position relative
    overflow hidden
    width 300px
    height 300px

    &.hover {
      .actions-panel {
        display block
        animation .3s actionsPanelAnimation cubic-bezier(.63,.15,.45,.9)
      }
      .item-header {
        > a {
          text-decoration underline
        }
      }
      .actions-list {
        animation .3s actionsListAnimation cubic-bezier(.63,.15,.45,.9)
      }
      .view-progress {
        &:before,
        &:after {
          background-color brand-secondary
        }
        &:after {
          box-shadow -5px 5px 5px rgba(0,0,0,.15)
        }
      }
    }
    &.is-delete-state {
      .actions-list {
        animation .3s actionsListFadeOutAnimation cubic-bezier(.63,.15,.45,.9)
        animation-fill-mode forwards
      }
      .delete-dialog {
        display block
        animation .3s deleteDialogAnimation cubic-bezier(.63,.15,.45,.9)
      }
    }
  }
  .item-image-holder {
    position absolute
    top 0
    right 0
    left 0
    bottom 0
    background-size cover
    background-position center
    transition opacity .3s ease
    z-index 1

    img {
      display block
      width 100%
      height 100%
      position absolute
      top 0
      left 0
      right 0
      bottom 0
    }
  }
  .item-header {
    background-color rgba(33,110,216,.84)
    position absolute
    bottom 0
    left 0
    right 0
    display flex
    flex-wrap nowrap
    flex-direction row
    align-items center
    justify-content center
    padding 8px 12px
    min-height 50px
    z-index 2
    transition background-color .15s cubic-bezier(.63,.15,.45,.9), min-height .15s cubic-bezier(.63,.15,.45,.9)
    -webkit-font-smoothing subpixel-antialiased

    a {
      display inline-block
      text-align center
      line-height 17px
      text-decoration none
      color #fff
      position relative
      top -1px

      &:hover {
        color brand-secondary
      }
    }
  }
  .actions-panel {
    background-color rgba(33,110,216,.84)
    position absolute
    top 0
    left 0
    right 0
    bottom 50px
    z-index 2
    color #fff
    display none
    opacity 1
  }
  .actions-list {
    list-style none
    padding 106px 42px 0
    margin 0
    display flex
    flex-wrap nowrap
    flex-direction row
    align-items center
    justify-content space-between
    transition opacity .3s ease-in-out

    li {
      display inline-block
    }
    a {
      display inline-block
      width 41px
      height 41px
      color #fff

      .icon,
      [data-icon] {
        width 41px
        height 41px
      }

      &:hover {
        color brand-secondary
      }
    }
  }
  .delete-dialog {
    position absolute
    top 0
    left 0
    right 0
    bottom 50px
    padding 92px 42px 0
    text-align center
    -webkit-font-smoothing auto
    display none

    p {
      margin-bottom 12px
    }
    ul {
      list-style none
      margin 0
      padding 0
      text-align center
      font-weight 300

      li {
        display inline-block

        &:first-child:after {
          content '|\00a0'
          margin-left 7px
        }
      }
      a {
        color #fff

        &:hover {
          color brand-secondary
        }
      }
    }
  }
}
