//
// Component animations
// --------------------------------------------------

.fade {
  opacity: 0;
  transition: opacity .15s linear;
  &.in {
    opacity: 1;
  }
}

.collapse {
  display: none;

  &.in      { display: block; }
  tr&.in    { display: table-row; }
  tbody&.in { display: table-row-group; }
}

.collapsing {
  position relative
  height 0
  overflow hidden
  transition-property height, visibility
  transition-duration .35s
  transition-timing-function linear
  will-change height, visibility
}

@keyframes statusIconAnimation {
  from {
    transform scale(1.2)
    opacity 0
  }
}

// @keyframes datepickerAnimaton {
//   from {
//     transform translateY(-50px) scale(0.8)
//     opacity 0
//   }
// }

@keyframes selectDropdownAnimation {
  from {
    transform translateY(-50px)
    opacity 0
  }
}

@keyframes formControlMessageAnimation {
  from {
    transform translateY(15px) translateX(-15px) scale(0.9)
    opacity 0
  }
}

@keyframes recommendationFriendSmallAnimation {
  from {
    transform translateY(-15px)
    opacity 0
  }
}

@keyframes searchResultsAnimation {
  from {
    max-height 64px
  }
  to {
    max-height 800px
  }
}

@keyframes actionsPanelAnimation {
  from {
    opacity 0
  }
}

@keyframes broadcastNotifyAnimation {
  to {
    opacity 1
  }
}

@keyframes broadcastNotifyHideAnimation {
  99% {
    opacity 0
    transform translateY(0)
  }
  100% {
    transform translateY(-100%)
  }
}

@keyframes broadcastNotifyTextWrapAnimation {
  from {
    opacity 0
    transform translateY(-15px) scale(0.9)
  }
}

@keyframes broadcastNotifyTextWrapHideAnimation {
  to {
    opacity 0
    transform scale(0.9)
  }
}

@keyframes deleteDialogAnimation {
  from {
    opacity 0
    transform translateY(15px) scale(0.9)
  }
}

@keyframes actionsListAnimation {
  from {
    opacity 0
    transform translateY(-15px) scale(0.9)
  }
}

@keyframes actionsListFadeOutAnimation {
  50% {
    opacity 0
    transform scale(0.9)
  }
  100% {
    opacity 0
    transform translateY(-100%) scale(0.9)
    visibility hidden
  }
}

@keyframes showActiveButtonState {
  from {
    opacity 0
    transform translateY(100%)
  }
  to {
    opacity 1
    transform translateY(0)
  }
}

@keyframes hideButtonState {
  from {
    opacity 1
  }
  to {
    transform translateY(-100%)
    opacity 0
  }
}

@keyframes showAltButtonStateBefore {
  to {
    background-position 0 0
  }
}

@keyframes showAvatarLoaderImage {
  from {
    opacity 0
    transform scale(0.9)
  }
  to {
    opacity 1
    transform scale(1)
  }
}

@keyframes commentsSubmitAnimation {
  0% {
    transform translateX(-150%) scale(0.8)
  }
  50% {
    transform translateX(0) scale(1)
  }
  100% {
    transform translateX(150%) scale(0.8)
  }
}



@keyframes showAuthorizeOverlay {
  from {
    opacity 0
    transform translateY(-15px) scale(0.8)
  }
  to {
    opacity 1
    transform translateY(0) scale(1)
  }
}

// @keyframes authorizePopoverAnimation {
//   to {
//     opacity 1
//     max-height 500px
//   }
// }

// @keyframes authorizePopoverFormAnimation {
//   to {
//     transform translate3d(0,0,0)
//   }
// }



