//
// Modals
// --------------------------------------------------

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display none
  overflow hidden
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index zindex-modal
  -webkit-overflow-scrolling touch
  outline 0
  will-change transform

  &.fade .modal-dialog {
    transform translateY(-25%)
    transition transform .3s ease-out
  }
  &.in .modal-dialog {
    transform translateY(0)
  }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position absolute
  top 0
  left 0
  height auto
  min-height 100%
  right 0
  display flex
  flex-direction column
  flex-wrap nowrap
  align-items center
  justify-content center
}

// Actual modal
.modal-content {
  position relative
  background-clip padding-box
  outline 0

  .close-link {
    position absolute
    right 8px
    top 8px
    display inline-block
    line-height 1.3rem
    color #fff

    &:hover {
      color brand-secondary
    }
  }
  .modal-title {
    font-size 1.8rem
    font-weight 700
    margin 0 0 18px
    color #fff
  }
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: zindex-modal-backdrop;
  background-color transparent
  // Fade for backdrop
  &.fade { opacity: 0; }
  &.in { opacity: modal-backdrop-opacity; }
}

.player-backdrop {
  background-color rgba(35,108,216,.9)
}

.paymethod-backdrop,
.paysuccess-backdrop {
  position absolute
  background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAADFBMVEXp7uvh5uv////u6vB5NEUKAAAAGklEQVR4AWPYjQYYBNEAdhWjKkZVjKoYVQEAgbKYEGHoYXcAAAAASUVORK5CYII=") repeat 0 0 #fff
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {

}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.modal-form-wrap {
  position relative
  border 2px solid #fff

  .form-control {
    background-color rgba(255,255,255,.39)
    color #fff
    placeholder(#fff)
    border-color #fff
  }
  .form-group {
    margin-bottom 5px
  }
  .form-control-feedback {
    width 47px
    height 46px
    right 2px

    .icon {
      fill #fff
      vertical-align middle
    }
  }
  .form-control-message {
    color #fff
  }
  .divider {
    display block
    position relative
    margin 15px 0
    height 36px
    width 100%

    > span {
      position absolute
      left 50%
      margin-left -18px
      top 0
      display block
      width 36px
      border 1px solid #fff
      border-radius 50%
      text-align center
      line-height 1
      padding 11px 0
      text-indent 1px
      color #fff
      font-size 1.2rem
    }
    &:before,
    &:after {
      content ''
      position absolute
      left 0
      top 16px
      width calc(50% - 18px)
      height 1px
      background-color #fff
    }
    &:after {
      left auto
      right 0
    }
  }
}

.recommend-form-wrap {
  border 2px solid #fff
  width 392px
  padding 34px 28px 32px

  .close-link {
    right -17px
    top -21px
  }
  .form-group {
    position relative
    margin-bottom 12px
  }
  select {
    left 0
    height 50px
    opacity 0
  }
  select,
  .select2-container {
    width 100%
    min-width 100%
    max-width 100%
  }

  .friends-list {
    list-style none
    margin 0
    padding 0

    li {
      cursor pointer
      display block
      clearfix()
      border-bottom 1px solid #fff
      padding 11px 0 12px

      &:last-child {
        border-bottom none
        padding-bottom 0
      }

      &:hover {
        .user-avatar {
          border-color brand-primary
          box-shadow 0 0 0 1px brand-primary
        }
        .user-name small {
          display block
        }
      }
    }
    .user-avatar {
      float left
      margin-right 16px
      border 1px solid #fff
      border-radius 50%
      width 62px
      height 62px
      display flex
      align-items center
      justify-content center
      transition border-color .3s ease-in-out, box-shadow .3s ease-in-out

      img {
        border-radius 50%
      }
    }
    .user-name {
      margin-left 78px
      padding-top 22px
      font-size 1.3rem
      font-weight 600
      overflow hidden
      color #fff

      small {
        display none
        font-size 1.1rem
        color rgba(255,255,255,.5)
        animation recommendationFriendSmallAnimation .3s cubic-bezier(.39,1.31,.28,1)
      }
    }
  }
}

// Player modal
.player-modal {
  .modal-dialog {
    justify-content flex-start
  }
  .modal-content {
    width 896px
    flex-grow 0
    flex-shrink 0
  }
  .advert-holder {
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content center
    padding 56px 0 28px
  }
  .comments-holder {
    position relative
    padding-bottom 32px

    .comment-form-trigger-link {
      position absolute
      top 0
      right 0
      color #fff
      text-decoration none

      span:not(.icon) {
        display inline-block
        border-bottom 1px dotted
      }
      .icon {
        margin-right 8px
        vertical-align -4px
      }

      &:hover {
        color brand-secondary

        span:not(.icon) {
          border-bottom-color transparent
        }
      }
    }
  }
}

.paymethod-modal {
  position absolute

  .modal-dialog {
    justify-content flex-start
  }
  .modal-content {
    width 1080px
    margin-top 110px
    border 2px solid #d3d3d3
    padding 60px 65px

    .close-link {
      top -2px
      right -26px
      color brand-primary

      &:hover {
        color brand-secondary
      }
    }
    .modal-header {
      position absolute
      top -41px
      left -2px
      line-height 2rem
    }
    .modal-title {
      color #020202
      text-transform uppercase
      font-size 1.8rem
      line-height 2rem
      font-weight 800
      margin 0 50px 0 0
      display inline-block
    }
    .paymethod-modal-balance {
      display inline-block
      font-size 1.8rem

      .icon-ruble,
      [data-icon="icon-ruble"] {
        width 11px
        height 13px
      }
    }
    .form-group {
      max-width 360px
      margin-bottom 42px

      .form-control-feedback {
        top 4.6rem
        height 60px
        width 60px
        line-height 60px

        .icon {
          width 15px
          height 18px
          vertical-align -4px
        }
      }
    }
    .form-control {
      background-color transparent
      padding 13px 22px
      line-height 1.25
      font-size 2.4rem
      height 60px
    }
    .form-group,
    .radio-group {
      > label {
        display block
        font-size 1.8rem
        line-height 1
        margin-bottom 28px
        color #020202
      }
    }
    .form-actions {
      .btn {
        font-size 1.8rem
        text-transform uppercase
        padding-top 17px
        padding-bottom 17px
      }
    }
    .radio {
      width 136px
      height 136px
      border 2px solid #fff
      margin 0 0 86px
      float left

      + .radio {
        margin-left -2px
      }
      label {
        padding-left 0
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        display flex
        flex-wrap nowrap
        flex-direction column
        justify-content center
        align-items center
        cursor pointer
        color brand-primary
      }
      .radio-text {
        position absolute
        color #000
        line-height 1
        bottom -44px
        left -2px
        right -2px
        text-align center
        z-index 2
      }
      .decor {
        position absolute
        right 9px
        top 7px
        line-height 1.3rem
        color #fff
        opacity 0
        transition opacity .3s ease-in-out

        [data-icon],
        .icon {
          width 13px
          height 13px
          vertical-align middle
        }
      }
      .overlap-bg {
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        background-color brand-primary
        opacity 0
        transition opacity .3s ease-in-out
      }
      input[type="radio"] {
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        z-index 3

        &:checked {
          ~ .icon {
            color #fff
          }
          ~ .overlap-bg {
            opacity 1
          }
          ~ .decor {
            opacity 1
          }
        }
      }
    }
  }
}

.paysuccess-modal {
  position absolute

  .modal-dialog {
    justify-content flex-start
  }
  .modal-content {
    width 565px
    margin-top 185px
    border 2px solid #d3d3d3
    padding 40px 40px 45px
    text-align center

    .close-link {
      top -2px
      right -26px
      color brand-primary

      &:hover {
        color brand-secondary
      }
    }
    h2 {
      margin 0 0 20px
      font-size 2.4rem
      line-height 5.1rem

      strong {
        display block
        font-size 5.1rem
        font-weight normal
      }
      .icon {
        width 36px
        height 36px
        vertical-align 1px
        color brand-primary
      }
    }
    .icon-round-checkbox-mark,
    [data-icon="icon-round-checkbox-mark"] {
      color brand-primary
      margin-bottom 10px
    }
  }
}
